* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Quicksand', 'futura-pt', sans-serif;
  font-style: normal;
  font-weight: 300;
  --font-color-alternative: #8A8A8A;
  --font-color-main: #4B4B4B;
  color: var(--font-color-main);

}

.app {
  height: auto;
  width: 100vw;
  background: #E5E5E5;
}

.header {
  background: white;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 0 0 100px;
  flex-direction: row;
}

.header .logo-container >div{
  color: #6A6A6A;
  font-size: 14px;
  font-weight: medium;
}

.header .search-container {
  width: 30%;
  margin-left: 2.5em;
}

.header .search-container input {
  width: 100%;
  height: 50px;
  outline: none;
  border-radius: 25px;
  background: #FAFAFA;
  border: 1px solid #EEEEEE;
  box-shadow: inset 4px 4px 2px rgba(0,0,0,0.015);
  padding: 1em 0 1em 4em;
  color: #8A8A8A;
  font-family: inherit;
}

.accounts-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 23px;
  margin-left: auto;
  overflow: hidden;
}

.accounts-container .initials-container {
  padding: 0 0.6em;
  border-right: 1px solid #E3EAF2;
  transition: transform 0.3s ease;
}

.accounts-container .initials-container .initials-inner {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  font-size: 12px;
}

.accounts-container .initials-container.hide {
  transform: translateY(-120%);
}

.chevron-right {
  transform: rotate(90deg);
}

.header-icons {
  cursor: pointer;
  height: 23px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-left: 2em;
}

.header-icons >div{
  margin-right: 1em;
  transition: all 0.2s ease;
}

.header-icons >div:hover{
  transform: scale(1.1);
}

.hamburger-menu {
  height: 38px;
  width: 38px;
  border-radius: 50%;
  background: #F88822;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 67px;
}

.hamburger-menu >div {
  height: 100%;
  width: 100%;
  position: relative;
}

.hamburger-menu .bar, .hamburger-menu .bar:after, .hamburger-menu .bar:before {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 18px;
  height: 2px;
  background: white;
  transition: all 0.4s ease;
}

.hamburger-menu .bar:after, .hamburger-menu .bar:before {
  content: '';
}

.hamburger-menu .bar:after {
  top: -0.8em;
}

.hamburger-menu .bar:before {
  top: 0.8em;
}


.hamburger-menu.open .bar {
  background: transparent;
}

.hamburger-menu.open .bar:after {
  transform: rotate(-45deg);
}

.hamburger-menu.open .bar:before {
  transform: rotate(45deg);
}

.hamburger-menu.open .bar:after, .hamburger-menu.open .bar:before {
  top: 0;
}

/*Main Container css starts here*/

.main-content-container {
  display: grid;
  grid-template-columns: 225px 950px 1fr;
}

/*SideBar css starts here*/

.main-content-container .sidebar-container {
  background: white;
  height: 100%;
  grid-column: 1/2;
  padding: 1em 0;
  display: flex;
  flex-direction: column;
}

.sidebar-container .sidebar-toggler {
  margin-left: auto;
  position: relative;
  margin-right: 20px;
  width: 64px;
  height: 28.11px;
  border-radius: 31px;
  background: #E3EAF2;
  font-size: 10px;
  color: var(--font-color-alternative);
  text-transform: capitalize;
  padding: 0.85em 1.2em;
}

.sidebar-container .sidebar-toggler .toggler-icon {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  display: flex;
  background: white;
  justify-content: center;
  align-items: center;
  border: 1px solid #E3EAF2;
  filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.1));
  transition: all 0.2s ease;
}

.sidebar-container .sidebar-toggler.show .toggler-icon{
  right: 100%;
  transform: translateX(100%);
}

.sidebar-container .sidebar-toggler.show {
  text-align: right;
}

.sidebar-container .bookstore-home-option {
  margin: 1em 0 0.7em 0;
  padding: 0.4em 1.5em;
  background: #FEE6D6;
  font-size: 14px;
  font-weight: bold;
}

.sidebar-container .all-options {
  transform: translateX(0);
  transition: transform 0.4s ease-in;
}

.sidebar-container .all-options.show {
  transform: translateX(-100%);}

.divider {
  width: 165px;
  background: #E3EAF2;
  height: 1px;
  margin: 0 auto;
}

.sidebar-options {
  padding: 1em 1.2em;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.sidebar-options .sign {
  color: #F88822;
  font-weight: normal;
  margin-right: 5px;
}

.sign .minus-sign {
  width: 5px;
  height: 1.5px;
  background: #F88822;
}

.sub-options-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.sub-options-container.expand {
  max-height: 300px;
}

.sub-options-inner {
  padding: 1em 1em 1em 55px;
}

.sub-options-inner h3 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
}
.sub-options-inner h3 >a {
  text-decoration: none;
  color: var(--font-color-main);
}

/* Middle COmponent Css starts here*/
/* .middle-container {
  width: 7px;
} */

.middle-container .section-cards {
  padding: 0 40px 0 35px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 45px;
}

.middle-container .section-cards .individual-cards {
  margin: 35px 0;
  height: 491px;
  display: flex;
  flex-direction: column;
  color: black;
}

.individual-cards .image-container {
  height: 70%;
  padding: 40px 35px;
  border-radius: 6px;
  background: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), -2px 0 2px rgba(0, 0, 0, 0.1);
}

.individual-cards .image-container >img {
  height: 100%;
  width: 100%;
}

.individual-cards .book-content {
  display: flex;
  flex-direction: column;
}

.individual-cards .book-content >h3 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
}

.individual-cards .book-content >h2 {
  font-size: 18px;
  color: #D82813;
  margin-top: 7px;
  font-weight: 600;
}

.individual-cards .book-content .price-and-stars {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  font-size: 14px;
  justify-content: space-between;
}
